@import "bootstrap/scss/bootstrap";
$fa-font-path: "./vendor/forkawesome/fonts" !default;
@import "../vendor/forkawesome/scss/fork-awesome";
@import "../vendor/jquery/bootstrap-tagsinput/bootstrap-tagsinput";
@import "bootstrap-colorpicker/dist/css/bootstrap-colorpicker";

// nodebb only uses datepicker, autocomplete, sortable
@import "jquery-ui/themes/base/core";
@import "jquery-ui/themes/base/menu";
@import "jquery-ui/themes/base/datepicker";
@import "jquery-ui/themes/base/autocomplete";
@import "jquery-ui/themes/base/sortable";
@import "jquery-ui/themes/base/theme";

@import "./components/avatars";

@import "./modules/category-filter.scss";