@mixin opacity($opacity: 1){
	-moz-opacity: $opacity;
	opacity: $opacity;
	// -ms-filter: ~`"progid:DXImageTransform.Microsoft.Alpha(opacity=(" + "${opacity}" * 100 + "))"`;
	// filter: ~`"alpha(opacity = (" + "${opacity}" * 100 + "))"`;
}

@mixin fix-lists {
	ul {
		> li {
			list-style-type: disc;

			ul > li {
				list-style-type: circle;

				ul > li {
					list-style-type: square;
				}
			}
		}
	}

	> ul, > ol {
		margin-bottom: 10px;
	}
}

@mixin text-ellipsis {
	overflow: hidden;
	text-overflow: ellipsis;
	white-space: nowrap;
}